@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
	--text-primary-color: #f0f7fa;
	--text-secondary-color: #c5d7e0;
	--surface-color: #121212;
	--alt-surface-color: #1e1e1e;
	--surface-hover-color: #0A2133;
	--alt-surface-hover-color: #143852;
	--nav-blur-surface-color: rgba(0, 12, 22, 0.5);
	--border-color: #274B63;
	--primary-color: #1c6e68;
	--primary-hover-color: #1b5752;
	--secondary-color: #274B63; 
	--secondary-hover-color: #133b55;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: var(--surface-color);
	color: var(--text-primary-color);
	font-family: Barlow, sans-serif;
}

.container {
	font-family: Barlow, sans-serif;
	color: var(--text-primary-color);
	background-color: var(--surface-color);
}
